@use "cores";

.header {
  position: sticky;
  top: 0;
  left: 0;
  background: cores.$corDeFundo;
  transition: 0.5s ease;
  z-index: 200;

  &--hidden {
    background: transparent;
    transition: 0.4s ease;

    .header__logo,
    .header__links__item:first-child {
      opacity: 0;
      visibility: hidden;
      transition: 0.4s ease;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 36px;
  }

  &__logo {
    max-width: 80px;
    width: 100%;
    margin: 5px;
    transition: 0.5s ease;
  }

  &__links {
    display: flex;
    gap: 5px;

    &__links__item {
      margin: 5px;
      transition: 0.5s ease;
    }
  }

  .button {
    height: 50px;
    display: flex;
  }
}
