@use "cores";
@use "header";
@use "hero";
@use "shows";
@use "plans";
@use "devices";
@use "faq";
@use "footer";

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Avenir-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Avenir-Bold.woff2");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: cores.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  color: cores.$corTextoSecundario;
}

body {
  background: cores.$corDeFundo;
}

.text--big {
  @include text(18px);
}

.text--medium {
  @include text;
}

.text--small {
  @include text(12px);
}

.title--big {
  @include title(44px);
}

.title--medium {
  @include title;
}

.title--small {
  @include title(28px);
}

.link-text {
  @include text(18px);
  color: cores.$corTextoSecundario;
  text-decoration: underline;
}

.button {
  display: flex;
  align-items: center;  
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: cores.$corTextoSecundario;
  background: cores.$corBotaoPrimario;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 1px;
  border: 1px solid cores.$corBotaoPrimario;
  transition: 0.3s ease;
  padding: 8px 14px;

  &:hover {
    background: lighten(cores.$corBotaoPrimario, 3%);
  }

  &--secondary {
    background: cores.$corBotaoSecundario;
    border-color: cores.$corBotaoSecundario;
    transition: 0.3s ease;

    &:hover {
      background: lighten(cores.$corBotaoSecundario, 3%);
    }
  }

  &--dark {
    background: rgba(cores.$corBotaoDark, 0.8);
    border-color: cores.$corTextoSecundario;
    transition: 0.3s ease;

    &:hover {
      background: cores.$corTextoSecundario;
      color: cores.$corDeFundo;
    }
  }
}

.image-flex {
  padding: 5.6vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  img {
    max-width: 100%;
  }

  &__container {
    padding: 0 2vw;

    h2 {
      margin-bottom: 24px;
    }
  }

  &--image-full {
    display: block;
    position: relative;

    img {
      width: 100%;
    }
    &__container {
      position: absolute;
      top: 0;
      height: 100%;
      left: 50%;
      width: calc(50% - 5.6vw);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
